<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.seeds669461" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>seeds</name>
  <description>
    ccreadbible mobile project
  </description>
  <author email="pretend15@gmail.com" href="http://ccreadbible.org/">
    Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Fullscreen" value="true" />
  <preference name="orientation" value="portrait" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>