div.buttons 
  margin 5px

.ion-play.button
.ion-stop.button
.ion-pause.button
  font-size 2em
  background-color #8ECDD5
  border-color transparent
  color rgb(122, 78, 78)
  &:hover
    color #fff
    
.play-status
  float right
  background-color #8ECDD5
  border-color #8ECDD5
  font-size 1.4em
  color gray

#play
  position absolute
  top 26vh
  right 5%

.homily-view ion-footer-bar 
  display none

.homily-view ion-footer-bar .buttons
  margin-top 0
  float right
