<ion-view class="homily-view" view-title="">
  <div class="long-header default-primary-color" layout="row" layout-align="center center">
    <h1 class="title">神父講道</h1>
  </div>
  <div class="bottom-header dark-primary-color"></div>
  <md-button id="play" class="md-fab light-primary-color" aria-label="play" ng-click="homily.playAudio()">
    <img src="img/ic_play_arrow_48px.svg">
  </md-button>
  <ion-content class="has-long-header light-primary-color">
    <ion-refresher
      on-refresh="homily.loadHomilyList()">
    </ion-refresher>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="item in homilyList" ng-click="homily.playAudio($index, item)" ng-class="{active : homily.isSelected(item)}">
        {{item.month}} 月 {{item.date}} 日
        <span class="icon ion-volume-medium"></span>
        <ion-option-button class="accent-color text-primary-color" ng-click="homily.openBible($index)">
          閱讀
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
