.ion-play.button
.ion-stop.button
.ion-pause.button
  font-size 2em
  margin-right 5px
  background-color #8ECDD5
  border-color transparent
  color #565F61
  &:hover
    color #fff
    
.play-status
  float right
  background-color #8ECDD5
  border-color #8ECDD5
  font-size 1.4em
  color gray

#play
  position absolute
  top 20vh
  right 50%
  margin-right -26px

ion-item span.ion-volume-medium
  float right
  font-size 1.5em
  display none

ion-item.active span.ion-volume-medium
  display inline