/*side menu*/
ion-side-menu ion-content
ion-side-menu ion-content .item-complex a.item-content
  background-color #C6C6C6


/*loading screen*/
md-progress-circular.md-default-theme 
  .md-inset
    background-color rgba(0, 0, 0, 0.7)
  .md-circle 
    .md-mask 
      .md-fill 
        background-color #FF9800


