ion-view.readings-view .bottom-header
  height 1vh

ion-view.readings-view .long-header
  height 30vh
  width 100%

ion-view.readings-view .long-header .title
  font-size 1.8rem
  margin-bottom 10px

ion-view.readings-view .long-header .sub-title
  color #B2EBF2
  margin 0
  width 60%