ion-view.readings-view .card a.item-content
  color #5B5A5A
  background-color #E2E2E2

ion-view.readings-view.pane
  top 3vh

.top-header 
  height 3vh

ion-view.readings-view .bar
  height 30vh

ion-view.readings-view .title
  top 9vh
  font-size 1.8rem