ion-view.readings-view.pane
  top 3vh

.top-header 
  height 3vh

ion-view.readings-view .long-header
  height 30vh
  width 100%

ion-view.readings-view .long-header .title
  top 19vh
  font-size 1.8rem
  text-align center