<ion-view class="homilies-view" view-title="">
  <div class="long-header light-primary-color" layout="column" layout-align="center center">
    <h1 class="title">聆聽福音</h1>
    <div layout="row" layout-align="center center">
      <span class="ion-ios-skipbackward" ng-click="homilyCtrl.backward()"></span>
      <span class="ion-play" ng-click="homilyCtrl.playAudio()"></span>
      <span class="ion-pause hide" ng-click="homilyCtrl.pauseAudio()"></span>
      <span class="ion-ios-skipforward" ng-click="homilyCtrl.forward()"></span>
    </div>
  </div>
  <div class="bottom-header accent-primary-color"></div>
  <ion-content class="has-long-header">
    <ion-list ng-model="homilies" can-swipe=true>
      <div class="item item-divider" layout="row">
        <span class="row">
          <span class="col col-75">曲目</span>
          <span class="col ion-ios-stopwatch-outline"></span>
        </span>
      </div>
      <ion-item ng-repeat="homily in homilies">
        <span class="row">
          <span class="col col-75">
            <span>{{readingTitles[$index]}} </span>
            <div class="homily-date">{{homily.month}}/{{homily.date}}</div>
          </span>
          <span class="col">{{homily.duration}}</span>
        </span>
        <ion-option-button class="accent-primary-color text-primary-color" ui-sref="seeds.main.bible({bibleId:$index})">
          閱讀
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>