.homilies-view
  ion-item
    .ion-play
    .ion-pause
      line-height 2      
      height 44px      
      width 44px      
      font-size 1.5em      
      padding-left .4em
    .homily-date
      font-size .8em