.homilies-view
  .long-header 
    h1
      padding-top 8%
      text-align center
  .item
    border-color #ff9800    
    .ion-play
    .ion-pause
      line-height 2      
      height 44px      
      width 44px      
      font-size 1.5em      
      padding-left .4em
    .duration
      font-size .8em