<ion-view class="bible-view" view-title="{{reading.date}}">
  <ion-content scroll="false" class="has-header">
    <md-tabs md-selected="selectedIndex" class="md-accent">
      <md-tab ng-disabled="tab.disabled" label="讀經一">
        <ion-scroll style="height: 90vh">
          
          <div class="content-wrapper" layout="column" layout-fill layout-align="space-around center">
            <section class='reading-content' ng-bind-html='reading.reading1'></section>
          </div>
        </ion-scroll>
      </md-tab>
      <md-tab ng-disabled="tab.disabled" label="福音">
        <ion-scroll style="height: 83vh" on-swipe-down="bible.showSettings()"
          on-swipe-up="bible.hideSettings()">
          <div class="content-wrapper" layout="column" layout-fill layout-align="space-around center">
            <section class='reading-content' ng-bind-html='reading.gospel'></section>
          </div>
        </ion-scroll>
      </md-tab>
    </md-tabs>
      <ion-footer-bar class="footer-color">
        <div class="footer-icons" layout="row"> 
          <div class="ion-headphone" ng-click="openModal(1)" ></div>
          <div ng-click="openModal(0)">字</div>
        </div>
      </ion-footer-bar>
  </ion-content>
</ion-view>