/*tabs*/
md-tabs.md-default-theme section.md-header
  background-color rgb(244, 244, 244)
  border-top 1px rgba(128, 128, 128, 0.24) solid

md-tabs.md-default-theme md-tab.active
  color #FF9800

md-tabs.md-default-theme md-tab
  color #727272

md-tabs.md-default-theme md-tabs-ink-bar
  color: #FF9800
  background: #FF9800 //tab underline

md-tab[aria-selected="true"]
  border 0

/*tab content*/
md-tab .scroll-view
  position absolute;
  top 4em  
  bottom 0  
  left 0  
  right 0
.content-wrapper
  padding 0 4% 6em

.content-wrapper > section
  margin-top 5%

.content-wrapper > section > p
  text-align justify

.font-size-sec
  font-size 1.5rem
.small-btn
.big-btn
  border 1px solid #FF9800
  background-color transparent

.big-btn
  border-right 0

/*footer*/
.footer-icons
  margin 0 auto
.footer-icons > div
  height 44px
  width 44px
  color rgb(114, 114, 114)
  font-size 2em
  margin-right .3em
.footer-icons:last-child
  line-height 1

/*settings*/
#audio-control
#font-control
  background-color #FFF
  border-top 4px solid #B2EBF2
  position fixed
  top 90%
  left 0
  width 100%
  padding-top .8em
.ion-play
.ion-pause
  text-align center
  font-size 2.5em
  margin 0 auto

