/*tabs*/
md-tabs.md-default-theme 
  section.md-header
    background-color rgb(244, 244, 244)
    border-top 1px rgba(128, 128, 128, 0.24) solid
    md-tab
      color #727272
      &[aria-selected="true"]
        border 0
      &.active
        color #FF9800
    md-tabs-ink-bar
      color: #FF9800
      background: #FF9800 //tab underline
  section.md-tabs-content 
    .scroll-view
      position absolute;
      top 4em  
      bottom 0  
      left 0  
      right 0
      .content-wrapper
        padding 0 4% 6em
        section
          margin-top 5%
          p
            text-align justify

/*footer*/
.footer-icons
  margin 0 auto
  text-align center
  span
    color rgb(114, 114, 114)
    font-size 1.3em
    margin-right .3em

/*styles for font.html*/
#font-control
  background-color #FFF
  border-top 4px solid #B2EBF2
  position fixed
  top 90%
  left 0
  width 100%

common-font-btn()
  .small-btn
  .big-btn
    border 1px solid #FF9800
    background-color transparent
#font-control 
  .font-size-sec
    font-size 1.3rem
    margin 2.6%
    common-font-btn()
    .big-btn
      border-right 0

