/*tabs*/
md-tabs.md-default-theme section.md-header
  background-color rgb(244, 244, 244)
  border-top 1px rgba(128, 128, 128, 0.24) solid

md-tabs.md-default-theme md-tab.active
  color #FF9800

md-tabs.md-default-theme md-tab
  color #727272

md-tabs.md-default-theme md-tabs-ink-bar
  color: #FF9800
  background: #FF9800 //tab underline

md-tab[aria-selected="true"]
  border 0

/*tab content*/
md-tab .scroll-view
  position absolute;
  top 4em  
  bottom 0  
  left 0  
  right 0
.content-wrapper
  padding 0 4% 6em

.content-wrapper > section
  margin-top 5%

.content-wrapper > section > p
  text-align justify

/*md-fab*/
.tts-btn
  background-color rgba(255, 152, 0, 0.77)
  position fixed
  top 100px
  right 3%

/*footer*/
.bible-view .bar-footer
  display none
  background-color rgb(244, 244, 244)
.bible-view .bar-footer button
  color #FF9800

.bible-view button span
  font-size 1.5em

.font-size-sec
  position fixed
  top auto
  right 4%
  margin-top 5%
  font-size 1rem

.small-btn
.big-btn
  border 1px solid #FF9800
  color #FF9800
  background-color transparent

.big-btn
  border-right 0
