@import '../../node_modules/nib/index'
@import 'main/main'
@import 'main/readings/readings'
@import 'main/homilies/homilies'
@import 'main/readings/bible/bible'
@import 'main/home/home'

@media screen and (max-device-width: 568px)
  body
  html
   font-size .9em