body,
html {
  color: #212121;
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h4 {
  font-size: 1.1em;
}
.hide {
  display: none;
}
.bottom-header {
  height: 1%;
}
.long-header {
  height: 30%;
  width: 100%;
  text-align: center;
}
.title,
.bar-header .button,
ion-header-bar i {
  color: #fff;
}
ion-header-bar {
  height: 56px;
  color: #fff;
}
.bar-header {
  border: 0;
}
.has-long-header {
  top: 31% !important;
}
ion-side-menu ion-content,
ion-side-menu ion-content .item-complex a.item-content {
  background-color: #c6c6c6;
}
.dark-primary-color {
  background: #0097a7;
}
.default-primary-color {
  background: #00bcd4;
}
.light-primary-color {
  background: #b2ebf2;
}
.text-primary-color {
  color: #fff;
}
.accent-color {
  color: #ff9800;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #b6b6b6;
}
.footer-color {
  background: #f4f4f4;
}
.accent-primary-color {
  background: #ff9800;
}
.readings-view .long-header h4 {
  margin: 0;
  width: 60%;
  text-align: center;
}
.readings-view .long-header h1 {
  margin-bottom: 0.2em;
  margin-top: 1.6em;
}
.readings-view .item {
  border-color: #ff9800;
}
.homilies-view .long-header h1 {
  padding-top: 8%;
  text-align: center;
}
.homilies-view .item {
  border-color: #ff9800;
}
.homilies-view .item .ion-play,
.homilies-view .item .ion-pause {
  line-height: 2;
  height: 44px;
  width: 44px;
  font-size: 1.5em;
  padding-left: 0.4em;
}
.homilies-view .item .duration {
  font-size: 0.8em;
}
md-tabs.md-default-theme section.md-header {
  background-color: #f4f4f4;
  border-top: 1px rgba(128,128,128,0.24) solid;
}
md-tabs.md-default-theme section.md-header md-tab {
  color: #727272;
}
md-tabs.md-default-theme section.md-header md-tab[aria-selected="true"] {
  border: 0;
}
md-tabs.md-default-theme section.md-header md-tab.active {
  color: #ff9800;
}
md-tabs.md-default-theme section.md-header md-tabs-ink-bar {
  color: #ff9800;
  background: #ff9800;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view {
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper {
  padding: 0 4% 6em;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper section {
  margin-top: 5%;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper section p {
  text-align: justify;
}
.footer-icons {
  margin: 0 auto;
  text-align: center;
}
.footer-icons div {
  height: 44px;
  width: 44px;
  color: #727272;
  font-size: 1.6em;
  margin-right: 0.3em;
}
.footer-icons:last-child {
  line-height: 1;
}
#audio-control,
#font-control {
  background-color: #fff;
  border-top: 4px solid #b2ebf2;
  position: fixed;
  top: 90%;
  left: 0;
  width: 100%;
  padding-top: 0.8em;
}
#audio-control .ion-play,
#audio-control .ion-pause,
#audio-control .soundtrack-title {
  text-align: center;
  font-size: 2.5em;
  margin: 0 auto;
}
#audio-control .soundtrack-title {
  font-size: 0.8em;
}
#font-control .font-size-sec {
  font-size: 1.5rem;
}
#font-control .font-size-sec .small-btn,
#font-control .font-size-sec .big-btn {
  border: 1px solid #ff9800;
  background-color: transparent;
}
#font-control .font-size-sec .big-btn {
  border-right: 0;
}
ion-view.main-view ion-content {
  width: 100%;
  height: 100%;
  position: relative;
}
ion-view.main-view .wrapper {
  width: 80%;
  position: absolute;
  left: 50%;
  margin: 10% 0 0 -40%;
}
ion-view.main-view section {
  border: 2px solid #fff;
  height: 80px;
  margin: 4% auto;
}
ion-view.main-view section h1 {
  color: #fff;
  text-align: center;
  font: 3em/80px Helvetica, sans-serif;
}
@media screen and (max-device-width: 568px) {
  body,
  html {
    font-size: 0.9em;
  }
}
