h1 {
  color: #00f;
}
div.buttons {
  margin: 5px;
}
.ion-play.button,
.ion-stop.button,
.ion-pause.button {
  font-size: 2em;
  border-color: transparent;
  color: rgba(255,255,255,0.89);
}
.ion-play.button:hover,
.ion-stop.button:hover,
.ion-pause.button:hover {
  color: #fff;
}
.play-status {
  float: right;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.4em;
  color: #808080;
}
