ion-side-menu ion-content,
ion-side-menu ion-content .item-complex a.item-content {
  background-color: #c6c6c6;
}
md-progress-circular.md-default-theme .md-inset {
  background-color: rgba(0,0,0,0.7);
}
md-progress-circular.md-default-theme .md-circle .md-mask .md-fill {
  background-color: #ff9800;
}
.homilies-view .long-header .ion-play,
.homilies-view .long-header .ion-pause,
.homilies-view .long-header .ion-ios-skipbackward,
.homilies-view .long-header .ion-ios-skipforward {
  color: #ffffdf;
  line-height: 2;
  height: 44px;
  width: 44px;
  font-size: 1.5em;
}
.homilies-view ion-content {
  text-align: left;
}
.homilies-view ion-content .item-divider {
  font-weight: bold;
}
.homilies-view ion-content .item-divider .ion-ios-stopwatch-outline {
  font-size: 1.2em;
}
.homilies-view ion-content ion-item .item-content {
  padding: 16px;
}
.homilies-view ion-content ion-item .item-content .homily-date {
  font-size: 0.8em;
}
md-tabs.md-default-theme section.md-header {
  background-color: #f4f4f4;
  border-top: 1px rgba(128,128,128,0.24) solid;
}
md-tabs.md-default-theme section.md-header md-tab {
  color: #727272;
}
md-tabs.md-default-theme section.md-header md-tab[aria-selected="true"] {
  border: 0;
}
md-tabs.md-default-theme section.md-header md-tab.active {
  color: #ff9800;
}
md-tabs.md-default-theme section.md-header md-tabs-ink-bar {
  color: #ff9800;
  background: #ff9800;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view {
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper {
  padding: 0 4% 6em;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper section {
  margin-top: 5%;
}
md-tabs.md-default-theme section.md-tabs-content .scroll-view .content-wrapper section p {
  text-align: justify;
}
.footer-icons {
  margin: 0 auto;
  text-align: center;
}
.footer-icons span {
  color: #727272;
  font-size: 1.3em;
  margin-right: 0.3em;
}
#font-control {
  background-color: #fff;
  border-top: 4px solid #b2ebf2;
  position: fixed;
  top: 90%;
  left: 0;
  width: 100%;
}
#font-control .font-size-sec {
  font-size: 1.3rem;
  margin: 2.6%;
}
#font-control .font-size-sec .small-btn,
#font-control .font-size-sec .big-btn {
  border: 1px solid #ff9800;
  background-color: transparent;
}
#font-control .font-size-sec .big-btn {
  border-right: 0;
}
ion-view.main-view ion-content {
  width: 100%;
  height: 100%;
  position: relative;
}
ion-view.main-view .wrapper {
  width: 80%;
  position: absolute;
  left: 50%;
  margin: 10% 0 0 -40%;
}
ion-view.main-view section {
  border: 2px solid #fff;
  height: 80px;
  margin: 4% auto;
}
ion-view.main-view section h1 {
  color: #fff;
  text-align: center;
  font: 3em/80px Helvetica, sans-serif;
}
body,
html {
  color: #212121;
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h4 {
  font-size: 1.1em;
}
.hide {
  display: none;
}
.title {
  color: #fff;
  font-weight: bold;
}
/*long header style*/
.bottom-header {
  height: 1%;
}
.long-header {
  height: 30%;
  width: 100%;
  text-align: center;
}
.long-header h1 {
  margin-top: 1.7em;
}
.long-header h4 {
  margin: 0;
  width: 60%;
  text-align: center;
  color: #ffffdf;
}
.has-long-header {
  top: 31% !important;
}
/*navigation bar style*/
.bar-header {
  border: 0;
}
.button-clear.button-clear {
  color: #fff;
}
/*list style*/
ion-view ion-item.item {
  border-color: #ff9800;
}
/* Palette generated by Material Palette - materialpalette.com/brown/cyan */
.dark-primary-color {
  background: #0097a7;
}
.default-primary-color {
  background: #00bcd4;
}
.light-primary-color {
  background: #b2ebf2;
}
.text-primary-color {
  color: #fff;
}
.accent-color {
  color: #ff9800;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #b6b6b6;
}
.footer-color {
  background: #f4f4f4;
}
.accent-primary-color {
  background-color: #ff9800;
}
@media screen and (max-width: 568px) {
  h1 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 0.9em;
  }
}
