body,
html {
  color: #212121;
}
h1 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1em;
}
.bottom-header {
  height: 1vh;
}
.long-header {
  height: 30vh;
  width: 100%;
  text-align: center;
}
.title,
.bar-header .button,
ion-header-bar i {
  color: #fff;
}
ion-header-bar {
  height: 56px;
  color: #fff;
}
.bar-header {
  border: 0;
}
.has-long-header {
  top: 31vh;
}
ion-side-menu ion-content,
ion-side-menu ion-content .item-complex a.item-content {
  background-color: #c6c6c6;
}
.dark-primary-color {
  background: #0097a7;
}
.default-primary-color {
  background: #00bcd4;
}
.light-primary-color {
  background: #b2ebf2;
}
.text-primary-color {
  color: #fff;
}
.accent-color {
  color: #ff9800;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #b6b6b6;
}
.footer-color {
  background: #f4f4f4;
}
.readings-view .long-header h4 {
  margin: 0;
  width: 60%;
  color: #b2ebf2;
  text-align: center;
}
.readings-view .long-header h1 {
  margin-bottom: 0.2em;
  margin-top: 1em;
}
md-tabs.md-default-theme section.md-header {
  background-color: #f4f4f4;
  border-top: 1px rgba(128,128,128,0.24) solid;
}
md-tabs.md-default-theme md-tab.active {
  color: #ff9800;
}
md-tabs.md-default-theme md-tab {
  color: #727272;
}
md-tabs.md-default-theme md-tabs-ink-bar {
  color: #ff9800;
  background: #ff9800;
}
md-tab[aria-selected="true"] {
  border: 0;
}
md-tab .scroll-view {
  position: absolute;
  top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
}
.content-wrapper {
  padding: 0 4% 6em;
}
.content-wrapper > section {
  margin-top: 5%;
}
.content-wrapper > section > p {
  text-align: justify;
}
.font-size-sec {
  position: fixed;
  top: auto;
  right: 4%;
  margin-top: 5%;
  font-size: 1rem;
}
.small-btn,
.big-btn {
  border: 1px solid #ff9800;
  color: #ff9800;
  background-color: transparent;
}
.big-btn {
  border-right: 0;
}
ion-view.main-view ion-content {
  width: 100%;
  height: 100%;
  position: relative;
}
ion-view.main-view .wrapper {
  width: 80%;
  position: absolute;
  left: 50%;
  margin: 10% 0 0 -40%;
}
ion-view.main-view section {
  border: 2px solid #fff;
  height: 80px;
  margin: 4% auto;
}
ion-view.main-view section h1 {
  color: #fff;
  text-align: center;
  font: 3em/80px Helvetica, sans-serif;
}
